@import "./fonts/font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


/* start style calendar */
  .rbc-day-slot .rbc-events-container {
    margin: 0px;
  }

  .rbc-event {
    left: 0 !important;
    width: 100% !important;
  }
  .css-1tcwmcw-MuiPickersToolbar-root-MuiDateTimePickerToolbar-root .MuiPickersToolbar-penIconButton {
    display: none;
  }
  .rbc-allday-cell {
    display: none;
  }
  /* end style calendar */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
